[Unit]
Description=Send a notification via a virtio port.
After=sshd.service network-online.target
ConditionPathExists=/dev/virtio-ports/%i

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/bash -c '/usr/bin/systemctl is-active --quiet sshd.service && /usr/bin/systemctl is-active --quiet network-online.target'
ExecStart=/bin/echo READY
StandardOutput=file:/dev/virtio-ports/%i
Restart=on-failure
RestartSec=42s
