[Unit]
Description=Switch Root into Snapshot
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

[Service]
Type=oneshot
ExecStartPre=mkdir -p /rootdisk/var/lib/metalos/boot
# create a rw snapshot of the os image for this boot id (the subvol var is set
# by a drop-in placed by `metalos-generator`)
ExecStartPre=btrfs subvolume snapshot /rootdisk/${OS_SUBVOL} /rootdisk/var/lib/metalos/boot/%b
ExecStartPre=btrfs property set -ts /rootdisk/var/lib/metalos/boot/%b ro false
ExecStart=metalctl switch-root /var/lib/metalos/boot/%b
