# rootfs version of metald.
# This is replaced by metald native service version after boot.
[Service]
Type=simple
ExecStart=/usr/lib/metalos/metald --systemd-socket
Restart=always
