# Management unit for MetalOS native services. This handles the MetalOS state
# directories, root subvol snapshots, materializing service config generator
# output, etc.
#
# The Native Service unit will have a Requires= and PropagatesStopTo= on this
# unit. This plus the PartOf in this unit will bind the lifecycle of the two
# units together.

[Unit]
Description=MetalOS Native Service %i
PartOf=%i.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/metalos/native-service-helper init --service %I
ExecStopPost=/usr/lib/metalos/native-service-helper deinit --service %I
