[Unit]
DefaultDependencies=no
ConditionPathExists=!/test-control-subvol

[Service]
Type=oneshot
ExecStart=btrfs subvolume create /test-control-subvol
ExecStart=mkdir -p /run/fs/control
ExecStart=mount --bind /test-control-subvol /run/fs/control
Environment=SYSTEMD_TMPFILES_FORCE_SUBVOL=1
ExecStart=systemd-tmpfiles --create
RemainAfterExit=yes
