[Unit]
Description=demo service

[Service]
Type=simple
RemainAfterExit=true
User=demoservice
Group=demoservice
# do some measurable work that can be validated by unit tests
ExecStartPre=/usr/bin/demo --run="${RUNTIME_DIRECTORY}" --state="${STATE_DIRECTORY}" --cache="${CACHE_DIRECTORY}" --logs="${LOGS_DIRECTORY}"
# simulate a real service that would needs to be restarted on version updates
ExecStart=/bin/bash -c "sleep 12h"
