[Unit]
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

# Brought in by initrd.target, but this unit is also part of initrd.target so we
# must wait for it explicitly
Requires=basic.target
After=basic.target

Requires=network-online.target
After=network-online.target

# We must communicate with the systemd manager over dbus
Requires=dbus.socket
After=dbus.socket

# Ensure that this unit finishes before systemd shuts down everything else (like
# systemd-networkd)
Before=initrd.target

[Service]
Type=oneshot
StandardOutput=kmsg+console
ExecStart=/usr/bin/metalimage
#
# Setting KillMode to none is deprecated in systemd and comes with dire warnings
# that the functionality will be removed, but this seems to be the least
# racy way we can have metalctl survive the systemd killing spree.
#
KillMode=none
