[flake8]
max-line-length = 80
# W503 goes against PEP 8 recommended style and contradicts W504
# E203 is contradictory with Black
# E741 bans variable names like `l` and `O`. They are not ambiguous
#      in any sane programming font, so this is spurious.
# E266 (no doubled # in comments) removes a useful emphasis mechanism.
# B305 is not useful in a pure-Py3 codebase
# E402 is super-noisy with `filterwarnings`, and also bans imports inside
#      blocks of `if __name__ == '__main__':`, which are a good idea.
# B950 because we already enforce E501
ignore = W503,E203,E266,E741,B305,E402,B950
# Future: Re-enable T4 after I land my `deepfrozen` work
select = B,C,E,F,P,W,B9
