[Unit]
Description=Mount metalOS kernel modules
DefaultDependencies=no
# execute this unit only if /usr/lib/modules/<kernel version> does not exists.
# NOTE: in the vmtest this path already exists so we do not need to run this unit.
ConditionPathExists=!/usr/lib/modules/%v


[Service]
EnvironmentFile=/run/metalos/image_paths_environment
Type=oneshot
RemainAfterExit=true
ExecStart=mkdir -p /usr/lib/modules/%v
ExecStart=mount --bind ${METALOS_KERNEL_MODULES_PATH} /usr/lib/modules/%v
