# Automatically start the MetalOS Native Services staged by the initrd early in
# the boot graph
[Unit]
RefuseManualStart=yes
RefuseManualStop=yes
After=metalos.metald.service
Requires=metalos.metald.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=metalctl online-update commit --last-staged
