[Unit]
Description=Mount metalOS kernel modules
DefaultDependencies=no

[Service]
EnvironmentFile=/run/metalos/image_paths_environment
Type=oneshot
RemainAfterExit=true
ExecStart=mkdir -p /usr/lib/modules/%v
ExecStart=mount LABEL=/ -o subvolid=${METALOS_KERNEL_SUBVOLID} /usr/lib/modules/%v
