[Unit]
Description=Mount metalOS kernel modules
After=rootdisk.mount
DefaultDependencies=no

[Service]
EnvironmentFile=/run/metalos/image_paths_environment
Type=oneshot
RemainAfterExit=true
ExecStart=mkdir -p /usr/lib/modules/%v
ExecStart=mount --bind ${METALOS_KERNEL_VOLUME} /usr/lib/modules/%v
