# TODO(T114499475) This mount unit exists only to keep kernel modules mounted
# across the switch-root boundary. It should be deleted in favor of
# /run/fs/control when that issue is resolved
[Unit]
Description=Root Subvol Layout
After=local-fs.target
DefaultDependencies=no

[Mount]
Where=/rootdisk
What=LABEL=/
Options=subvol=/volume
