PasswordAuthentication no
PubkeyAuthentication yes

PermitRootLogin yes

# These can be provided in the site-specific metalos image to allow more
# advanced ssh authentication.
TrustedUserCAKeys /etc/ssh/trusted_ca
AuthorizedPrincipalsFile /etc/ssh/auth_principals/auth_principals_%u
AuthorizedKeysFile .ssh/authorized_keys
HostKey /run/fs/control/run/state/persistent/certs/ssh_host_rsa_key

LogFormatPrefix sshd_auth_msg:
LogFormatKeys server_ip server_port remote_ip remote_port pid session_id method
LogFormatKeys cert_id cert_serial principal user session_state auth_successful
LogFormatKeys start_time command
LogFormatJson yes

# Allow users with locked passwords to login
UsePAM yes
