[Unit]
Description=Ensure all controllers on root cgroup are enabled

[Service]
ExecStart=/bin/sleep infinity
MemoryAccounting=true
CPUAccounting=true
IOAccounting=true
Delegate=cpu io memory pids
