# Host workload services should be synchronized as Before=workload.target
# workload-pre.target will ensure basic host configs are setup
[Unit]
Description=Host workload
After=workload-pre.target
Requires=workload-pre.target
AllowIsolate=yes
