[Unit]
Description=Generate dropbear host key
ConditionFileNotEmpty=|!/run/dropbear/host_ecdsa_key
Before=dropbear.service
PartOf=dropbear.service

[Service]
Type=oneshot
ExecStart=/usr/bin/dropbearkey -t ecdsa -f /run/dropbear/host_ecdsa_key
RemainAfterExit=yes
