[Unit]
Description=Remount /rootdisk rw
DefaultDependencies=no
RequiresMountsFor=/rootdisk
ConditionPathIsReadWrite=!/rootdisk

[Service]
Type=oneshot
ExecStart=/usr/bin/mount -o remount,rw -t btrfs /rootdisk /rootdisk
RemainAfterExit=yes
