[Unit]
Description=Add %f to /rootdisk
DefaultDependencies=no
RequiresMountsFor=/rootdisk

[Service]
Type=oneshot
ExecStart=/usr/sbin/btrfs device add %f /rootdisk
RemainAfterExit=yes
