[Unit]
Description=Remount /sysroot rw
ConditionPathIsReadWrite=!/sysroot

[Service]
Type=oneshot
ExecStart=/usr/bin/mount -o remount,rw -t btrfs /dev/vda /sysroot
RemainAfterExit=yes
