{{ name }} is a character that appears in episode(s){% include "antlir/bzl/tests/shapes/episodes:episodes.jinja2" %} of
the Star Wars franchise and is friends with
{%- for friend in friends %}
 {{friend.name -}}
    {% if loop.length > 2 and loop.revindex0 > 1 %},
    {%- elif not loop.last %} and{%endif%}
{%- endfor %}.
