[package]
edition = "2018"
name = "antlir-deps"
version = "0.0.1"

[[bin]]
name = "all-deps-entrypoint"
path = "all_deps_entrypoint.rs"

[dependencies]
anyhow = "1.0.38"
bytes = {version = "1.0", features = ["serde"]}
futures = {version = "0.3.14", features = ["async-await", "compat"]}
futures-core = "0.3.14"
futures-util = "0.3.14"
goblin = "0.3.4"
hyper = {version = "0.14.7", features = ["client", "http1", "http2"]}
hyper-rustls = "0.22"
lalrpop = "0.19.6"
nix = "0.19"
once_cell = "1.7.2"
regex = "1.4.5"
reqwest = {version = "0.11", features = ["blocking", "json", "rustls-tls"]}
rustls = "0.19.1"
rustls-native-certs = "0.5.0"
serde = {version = "1.0.126", features = ["derive"]}
slog = "2.7.0"
slog-async = "2.3"
slog-term = "2.4.2"
slog_glog_fmt = "0.1.3"
starlark = {path = "./starlark-rust/starlark"}
starlark_module = {path = "./starlark-rust/starlark_module"}
structopt = "0.3.21"
tokio = {version = "1.4", features = ["full"]}
tokio-stream = {version = "0.1.6", features = ["fs", "io-util", "net", "sync", "time", "signal"]}
toml = "0.5.7"
tower = {version = "0.4", features = ["util"]}
trust-dns-resolver = "0.20"
warp = {version = "0.3.0", features = ["tls"]}
zstd = "0.9.0+zstd.1.4.9"
