[Unit]
After=systemd-udev-settle.service dbus.socket
Requires=systemd-udev-settle.service dbus.socket

[Service]
Type=oneshot
ExecStart=metalos-bootloader
# log output to journal, kmsg ring-buffer and the system console
StandardOutput=kmsg+console
StandardError=inherit
