[Unit]
Description=Switch Root into Snapshot
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

# We require this mount because we only sometimes will depend on
# metalos-snapshot-root.target which is controlled by the generator
Requires=rootdisk.mount
After=rootdisk.mount

# Disable systemd-networkd.service because we're going to cleanup the
# network configuration before doing the switch-root.
Conflicts=systemd-networkd.service
After=systemd-networkd.service

# Forcibly stop this service so that the systemd in the post-switch-root os will
# restart it and process the rules that are in the rootfs
Conflicts=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

# We must communicate with the systemd manager over dbus
Requires=dbus.service
After=dbus.service

[Service]
EnvironmentFile=/run/systemd/generator/metalos_environment
Type=oneshot
ExecStartPre=metalctl network-cleanup
ExecStart=metalctl switch-root ${METALOS_CURRENT_BOOT_DIR}
