[Unit]
Description=Mount kernel modules
After=metalos-snapshot-root.service

[Service]
EnvironmentFile=/run/systemd/generator/metalos_environment
EnvironmentFile=/run/metalos/image_paths_environment
Type=oneshot
ExecStart=mkdir -p ${METALOS_CURRENT_BOOT_DIR}/usr/lib/modules/%v
ExecStart=mount --bind ${METALOS_KERNEL_VOLUME} ${METALOS_CURRENT_BOOT_DIR}/usr/lib/modules/%v
