[Unit]
Description=Switch Root into Snapshot
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes
Requires=rootdisk.mount
After=rootdisk.mount

# Forcibly stop this service so that the systemd in the post-switch-root os will
# restart it and process the rules that are in the rootfs
Conflicts=systemd-tmpfiles-setup.service

# We must communicate with the systemd manager over dbus
Requires=dbus.service
After=dbus.service

[Service]
Type=oneshot
ExecStart=metalctl switch-root ${OS_BOOT_SUBVOL}
