# Template service unit to download a disk image from the given URI and dd it to the root disk.
# This is used in the initrd to initialize a host for the first time based on if a kernel
# cmdline arg is provided.
[Unit]
Description=Fetch disk image and dd to root disk
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/run/systemd/generator/metalos_environment
Type=oneshot
RemainAfterExit=true
ExecStartPre=metalctl fetch-image ${METALOS_DISK_IMAGE_PKG} /tmp/root_image/ --decompress-download --download-only --download-filename metalos.img
ExecStart=metalctl apply-disk-image /tmp/root_image/metalos.img
