[Unit]
Description=Fetch required images
Requires=network-online.target
After=network-online.target

Requires=run-fs-control.mount
After=run-fs-control.mount

Requires=metalos-load-host-config.service
After=metalos-load-host-config.service
# Waiting on metalos-load-host-config.service is not safe enough, since it will
# be silently skipped if metalos.host-config-uri is missing
AssertPathExists=/run/metalos/host-config

[Service]
EnvironmentFile=/run/systemd/generator/metalos_environment
Type=oneshot
RemainAfterExit=true
ExecStart=metalctl fetch-images file:///run/metalos/host-config
