[Unit]
Description=Setup host configs if they are provided
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

# We must have the snapshot already made for us
Requires=metalos-snapshot-root.service
After=metalos-snapshot-root.service

# While this unit is capable of downloading its own copy of the host config, we
# prefer to download it explicitly in a separate unit, so it can easily be used
# in many units
Requires=metalos-load-host-config.service
After=metalos-load-host-config.service

# We only want this to run if we have been given a HOST_CONFIG_URI
# which comes from metalctl adding this with `metalos-generator`.
# However we can't check this directly because ConditionKernelCommandLine
# won't check this units Environment entries so as a hack we depend on
# the kernel parameter which we know metalctl will read.
ConditionKernelCommandLine=metalos.host-config-uri

[Service]
EnvironmentFile=/run/systemd/generator/metalos_environment
Type=oneshot
ExecStart=metalctl apply-host-config file:///run/metalos/host-config ${METALOS_CURRENT_BOOT_DIR}
