[Unit]
Description=Switch Root into Snapshot
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

Requires=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service

# We must communicate with the systemd manager over dbus
Requires=dbus.socket
After=dbus.socket

# Forcibly stop this service so that the systemd in the post-switch-root os will
# restart it and process the rules that are in the rootfs
Conflicts=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Service]
Type=oneshot
StandardOutput=kmsg+console
ExecStart=/usr/bin/metalinit
#
# Setting KillMode to none is deprecated in systemd and comes with dire warnings
# that the functionality will be removed, but this seems to be the least
# racy way we can have metalctl survive the systemd killing spree.
#
KillMode=none

