[Unit]
Description=Make a new os snapshot for this boot
DefaultDependencies=no
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

Requires=rootdisk.mount
After=rootdisk.mount

# This lists all the packages require for assembling
# the boot. Currently this is only the rootfs.
Requires=metalos-fetch-images.service
After=metalos-fetch-images.service

[Service]
EnvironmentFile=/run/systemd/generator/metalos_environment
EnvironmentFile=/run/metalos/image_paths_environment
Type=oneshot
ExecStartPre=mkdir -p ${METALOS_BOOTS_DIR}
# create a rw snapshot of the os image for this boot id (the subvol var is set
# by a drop-in placed by `metalos-generator`)
ExecStartPre=btrfs subvolume snapshot ${METALOS_OS_VOLUME} ${METALOS_CURRENT_BOOT_DIR}
ExecStart=btrfs property set -ts ${METALOS_CURRENT_BOOT_DIR} ro false
