# Template service unit to download a btrfs sendstream image from the given
# URI. This is used in the initrd to download an OS based on a kernel cmdline
# arg, but can also be used by other units in the future.
[Unit]
Description=Fetch image from %I
Requires=network-online.target
After=network-online.target
RequiresMountsFor=/rootdisk
# Only download an image version once
ConditionDirectoryNotEmpty=!/rootdisk/var/lib/metalos/image/%i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=mkdir -p /rootdisk/var/lib/metalos/image
ExecStartPre=btrfs subvolume create /rootdisk/var/lib/metalos/image/%i
ExecStart=metalctl fetch-image %I /rootdisk/var/lib/metalos/image/%i
