name: Tests
on: [push, pull_request, workflow_call]

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: facebook/install-dotslash@latest
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-gnu,aarch64-unknown-linux-gnu
      - name: BTRFS-ify antlir2-out
        run: |
          mkdir antlir2-out
          truncate -s 100G ${{ runner.temp }}/image.btrfs
          mkfs.btrfs ${{ runner.temp }}/image.btrfs
          sudo mount ${{ runner.temp }}/image.btrfs antlir2-out
          sudo chown -R $(id -u):$(id -g) antlir2-out
      - name: Install deps
        run: |
          sudo apt install \
            cpio jq libcap-dev systemd-container

      - name: Disable watchman
        run: |
          echo '[buck2]' >> .buckconfig
          echo 'file_watcher=notify' >> .buckconfig

      - name: Test target graph
        run: |
          ./buck2 bxl //ci:test_target_graph.bxl:test_target_graph

      - name: Find tests
        run: |
          ./buck2 bxl //ci:find_tests.bxl:find_tests -- \
            --disable //antlir/antlir2/antlir2_btrfs/... \
            --disable //antlir/antlir2/antlir2_cas_dir:antlir2_cas_dir-image-test \
            --disable //antlir/antlir2/antlir2_overlayfs/... \
            --disable //antlir/antlir2/antlir2_vm:antlir2_vm-unittest \
            --disable //antlir/antlir2/genrule_in_image/... \
            --disable //antlir/antlir2/image_command_alias/... \
            --disable //antlir/antlir2/sendstream_parser:sendstream_parser-unittest \
            --disable //antlir/antlir2/test_images/cfg/os/... \
            --disable //antlir/antlir2/test_images/cfg/target_arch/... \
            --disable //antlir/antlir2/test_images/package/ext3/... \
            --disable //antlir/antlir2/test_images/package/xar/... \
            --disable //antlir/antlir2/testing/tests:booted-image-test-that-should-fail \
            --disable //antlir/antlir2/testing/tests:test-sh-booted-requires-units \
            --disable //antlir/bzl/linux/tests:test-os-release \
            --disable //antlir/bzl/linux/tests:test-timezone-us-pacific \
            --disable //antlir/bzl/linux/tests:test-timezone-utc \
            --disable //antlir/bzl/shape2/... \
            --disable //antlir/bzl/tests/shapes/... \
            --disable //antlir/rust:gen-modules-bzl-unittest \
            --disable //third-party/antlir/tests:hello_world.default.test \
            --disable //third-party/antlir/tests:hello_world.patched.test \
            | tee ${{ runner.temp }}/tests.txt

      - name: Build tests
        run: |
          ./buck2 build @${{ runner.temp }}/tests.txt

      - name: Run tests
        run: |
          ./buck2 test @${{ runner.temp }}/tests.txt
