name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

defaults:
  run:
    shell: bash
    working-directory: ./antlir/antlir2/docs

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: facebook/install-dotslash@latest

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: 'antlir/antlir2/docs/package.json'

      - name: Install dependencies
        run: yarn install

      - name: Disable watchman
        run: |
          echo '[buck2]' >> $GITHUB_WORKSPACE/.buckconfig
          echo 'file_watcher=notify' >> $GITHUB_WORKSPACE/.buckconfig
      - name: Add repo to PATH
        run: |
          echo "$GITHUB_WORKSPACE" >> $GITHUB_PATH
      - name: Build website
        run: yarn build

      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: antlir/antlir2/docs/build

  deploy:
    name: Deploy to GitHub Pages
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
