# This workflow runs after the "Antlir Tests" workflow, so that PR-triggered
# runs can still report test results (using the token from this repo).
name: "Test Report"
on:
  workflow_run:
    workflows: ["Antlir Tests", "Antlir Tests (External Runner)"]
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v1
        with:
          artifact: test-results
          name: Buck Test Report
          path: "*.xml"
          reporter: java-junit
