{% extends "antlir/bzl/linux/systemd/unit:unit.jinja2" %}

{% block settings %}
[Service]
Type={{ type }}
{% if slice %}
Slice={{ slice }}
{% endif %}
{% if environment_file %}
EnvironmentFile={{ environment_file }}
{% endif %}
{% for cmd in exec_start %}
ExecStart={{ cmd }}
{% endfor %}
TimeoutStartSec=15min
TimeoutStopSec=90s
{% if standard_output %}
StandardOutput={{ standard_output }}
{% endif %}
{% endblock %}
