[Unit]
Description={{ description }}
{% if after %}
After={{ after }}
{% endif %}
{% if service_requires %}
Requires={{ service_requires }}
{% endif %}

[Service]
Type=oneshot
Slice={{ slice }}
{% if environment_file %}
EnvironmentFile={{ environment_file }}
{% endif %}
ExecStart={{ cmd }}
TimeoutStartSec=15min
TimeoutStopSec=90s
StandardOutput={{ stdout_file }}
