{% extends "antlir/bzl/linux/systemd/unit:unit.jinja2" %}

{% block settings %}
[Install]
WantedBy=timers.target

[Timer]
{% if on_calendar %}
OnCalendar={{ on_calendar }}
{% endif %}
{% if accuracy %}
AccuracySec={{ accuracy }}
{% endif %}
{% if on_boot %}
OnBootSec={{ on_boot }}
{% endif %}
{% if persistent %}
Persistent=true
{% endif %}
{% if randomized_delay %}
RandomizedDelaySec={{ randomized_delay }}
{% endif %}
{% if unit_name %}
Unit={{ unit_name }}
{% endif %}
{% endblock %}
