[Unit]
Description={{ unit.description }}
{% if unit.requires %}
Requires={{ unit.requires|join(" ") }}
{% endif %}
{% if unit.after %}
After={{ unit.after|join(" ") }}
{% endif %}
{% if unit.before %}
Before={{ unit.before|join(" ") }}
{% endif %}
{% if unit.start_limit_interval_sec %}
StartLimitIntervalSec={{ unit.start_limit_interval_sec }}
{% endif %}
{% if unit.start_limit_burst %}
StartLimitBurst={{ unit.start_limit_burst }}
{% endif %}

{% block settings %}{% endblock %}
